body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(255, 234, 230, 0.664);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.container {
  height: 50rem;
  width: 70rem;
  margin: 0 auto;
  margin-top: 3rem;
  background: radial-gradient(rgba(255, 255, 255, 0.774) 50%, rgba(255, 168, 168, 0.397));
}

.pomo {
  width: 100%;
  margin: 0 auto;
}

.pomo__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.pomo__buttons {
  flex: 1;
  margin: 0 1px;
  font-size: 24px;
  color: rgb(219, 41, 41);
  padding: 5px 20px;
  border-top: 1px solid rgb(110, 25, 25);
  background: linear-gradient(rgba(255, 168, 168, 0.562), rgba(255, 255, 255, 0));
}

.pomo__buttons:hover {
  background: linear-gradient(rgba(255, 110, 110, 0.562), rgba(255, 255, 255, 0));
}

.no-webp .pomo__block {
  background-image: url(../img/rabotaet.png); }

.pomo__block {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  background-size: cover;
  position: relative;
}

.pomo__inner {
  position: absolute;
  top: 40%;
  left: 44%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 106px;
}

.pomo__session {
  font-size: 28px;
  color: rgb(255, 104, 155);
}

.pomo__time {
  font-size: 36px;
  color: rgb(238, 92, 141);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomo__hour {
  margin-right: 3px;
}

.pomo__seconds {
  margin-left: 3px;
}

.pomo__timebuttons {
  display: flex;
  flex-direction: column;
}

.pomo__little {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(211, 81, 125);
  padding: 2px 15px 2px 0px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.pomo__icon {
  margin-right: 3px;
}

.disabled {
  display: none;
}

.pomo__preferences {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pref__item {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 55px;
}

.arrow__top {
  transform: rotate(-90deg);
}

.arrow__bot {
  transform: rotate(90deg);
}

.pref__text {
  color: rgb(240, 108, 119);
  font-weight: bold;
  text-align: center;
}

.pref__count {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #e45683;
  background: linear-gradient(rgb(255, 238, 238), rgb(255, 190, 204));
  border-radius: 10px;
  z-index: 50;
  border-bottom: 4px solid rgb(255, 68, 124);
}

.pref__down {
  margin-top: 12px;
}

.webp .pomo__block { background-image: url(../img/rabotaet.webp); }